# Dengue Analysis
...
---

### Understanding
- **The problem**
- **The solution**

---

### Objective
- **What to Deliver**
- **Solution Planning**
- **Dataset Overview**

---

## 0. Imports

### 0.1. Libraries

In [1]:
# Data manipulation libraries
import pandas               as pd
import numpy                as np

# Visualization libraries
# import seaborn              as sns
import matplotlib           as mpl
# import matplotlib.pyplot    as plt

# import plotly.express       as px
# import plotly.graph_objects as go

# Other
import warnings
import sys
import os

### 0.2. Settings

In [2]:
# Ignoring warnings
warnings.filterwarnings('ignore')

# Pandas Settings
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.set_option('display.max_columns', None)

# Directory Settings
notebook_dir = os.getcwd()
project_root = os.path.abspath(os.path.join(notebook_dir, '..'))
src_path     = os.path.join(project_root, 'src')
sys.path.append(src_path)

# Visualization Settings
%matplotlib inline

# Set a style
mpl.style.use('ggplot')  

# Customize rcParams
mpl.rcParams.update({
    'figure.titlesize': 24,
    'figure.figsize': (18, 6),
    'figure.dpi': 150,
    'axes.titlesize': 14,
    'axes.labelsize': 12,
    'axes.facecolor': 'white',
    'axes.linewidth': 1,
    'axes.grid': True,
    'xtick.labelsize': 12,
    'xtick.color': 'black',
    'ytick.labelsize': 12,
    'ytick.color': 'black',
    'legend.fontsize': 12,
    'lines.linewidth': 2,
    'lines.markersize': 6,
    'grid.color': 'lightgray',
    'grid.linestyle': '--',
    'grid.linewidth': 0.5,
    'font.size': 12,
    'font.family': 'sans-serif',
    'font.sans-serif': ['Arial'],
})

### 0.3. Functions

### 0.4. Classes

In [3]:
from data_processing.data_processing import CasosDengueUF20142023, ObitosDengueUF20142023

### 0.5. Datasets

In [5]:
df_casos_uf = CasosDengueUF20142023().process_data()
print(df_casos_uf.info())
df_casos_uf.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   nome_uf  270 non-null    object
 1   id_uf    270 non-null    int64
 2   ano      270 non-null    int64
 3   casos    270 non-null    int64
dtypes: int64(3), object(1)
memory usage: 8.6+ KB
None

    nome_uf  id_uf   ano  casos
0  Rondônia     11  2014   1992
1      Acre     12  2014  28108
2  Amazonas     13  2014   6656
3   Roraima     14  2014   1129
4      Pará     15  2014   4509

In [12]:
df_obitos_uf = ObitosDengueUF20142023().process_data()
print(df_obitos_uf.info())
df_obitos_uf.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   nome_uf  270 non-null    object
 1   id_uf    270 non-null    int64
 2   ano      270 non-null    int64
 3   obitos   270 non-null    int64
dtypes: int64(3), object(1)
memory usage: 8.6+ KB
None

    nome_uf  id_uf   ano  obitos
0  Rondônia     11  2014       2
1      Acre     12  2014       2
2  Amazonas     13  2014       8
3   Roraima     14  2014       1
4      Pará     15  2014       5